$background-color: #232946;
$primary-color: #FFFFFE;
$secondary-color: #80FFD1;
$dark-slate: #495670;
$light-slate: #373f64;
$highlight: #CCD6F6;
$secondary-highlight: rgba(128, 252, 223, 0.1);
$font-sans: 'Calibre', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
$font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
